.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-decoration: none;
}

.container img {
  height: 4rem;
  cursor: pointer;
}

.container p {
  font-size: 3rem;
  font-family: "Kaushan Script";
  color: #f589ca;
  text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, -2px -2px 5px black;
  cursor: pointer;
}