.wrapper {
  width: 230px;
  height: 220px;
  margin: 20px auto 40px;
  background-color: #fff;
  border: 3px solid #1356d4;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
}

h2 {
  margin-top: 40px;
  text-align: center;
  color: #1356d4;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
}

p {
  margin: 20px;
  text-align: center;
  color:#fff;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin: 20px auto;
  padding: 0;
  background-color: #333;
  color: #aaa;
  font-size: 3.5rem;
  font-weight: bold;
  user-select: none;
}

.btnContainer {
  text-align: center;
  margin: 5px;
  background-color: #fff;
}

button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #aaa;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #aaa;
}

button:hover {
  border: 2px solid #333;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.decrease:active {
  background-color: red;
}

.increase:active {
  background-color: green;
}

.clear:active {
  background-color: yellow;
}